
<div class="form-retreat-list">
  <h2>Trip Destinations</h2>
</div>

<div class="cards-container my-4">
  <div class="flex-item justify-content-right">
        <div class= "search_bar d-flex flex-column">
            <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Where would you like to go?"%>
            <%= submit_tag "Go", class: "btn-simple"%>
            <% end %>
        </div>
  </div>
 </div>


<ul class="cards">
<div class="row justify-content-center">
<div class="col-11 col-md-8 col-lg-6">
<% @trips.each do |trip| %>
  <%= link_to trip_path(trip) do %>
    <div class="card-trip">
      <% if trip.photos.attached? %>
        <%= cl_image_tag trip.photos.first.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= trip.name %></h2>
          </div>
          <%# <h2 class="card-trip-pricing"><%= "€#{t.double_pricing}"%></h2>
        </div>
    </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
