
<div class="form-retreat-list">
  <h2>Upcoming Retreats</h2>
</div>


<div class="cards-container">

  <div class="trip-cards">

  <% @trips.each do |t| %>
    <%= link_to trip_path(t) do %>
     <div class="card-trip">
      <% if t.photos.attached? %>
        <%= cl_image_tag t.photos.first.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <% end %>
        <div class="card-trip">
          <div>
            <h2><%= t.name %></h2>
            <p>Overview:<%= t.description %></p>
            <p>Start Date<%= t.start_date %></p>
            <p>End Date<%= t.end_date %></p>
          </div>
          <h2 class="card-trip-pricing"><%= "$#{t.double_pricing}"%></h2>
        </div>
    </div>
  <% end %>
<% end %>

  </div>
</div>
