

<div class="container">

<div class="form-retreat-list">
  <h2>Retreat Manager Dashboard</h2>
</div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

  <div class="form-retreat">


    <h2>
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunset" viewBox="0 0 16 16">
  <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
    </svg>
   </h2>
  <h2>Add a New Retreat </h2>
      <%= simple_form_for @trip do |f| %>
        <%= f.input :name, label:"Retreat Name:"%>
        <%= f.input :address, label:"Retreat Location:" %>
        <%= f.input :start_date,label:"Retreat Start Date:", as: :date, html5: true %>
        <%= f.input :end_date,label:"Retreat End Date:", as: :date, html5: true %>
        <%= f.input :deposit_pricing, label:"Deposit Amount:" %>
        <%= f.input :double_pricing, label:"Double Accommodations Pricing:" %>
        <%= f.input :single_pricing, label:"Single Accommodations Pricing:" %>
        <%= f.input :max_participants, label:"Maximum Number of Participants:" %>

        <%= f.input :categories, label: "Categories:", collection: Trip::CATEGORIES, input_html: { multiple: true }, as: :check_boxes %>
        <%= f.input :description, label:"Retreat Description:" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create Retreat", class: "btn" %>
     <% end %>


 </div>
    </div>
  </div>
</div>
