




<div class="form-retreat-manager">
  <h2>Plan Your Retreat and View Reports!</h2>
</div>

<div class="form-retreat-manager justify-content-center  d-flex flex-space-around" >

   <%= link_to new_trip_path, class: "btn-dashboard d-flex flex-column" do %>
      <span>All Trips</span>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
         <i class="fa-solid fa-list-check fa-2xl"></i>
      </div>
    <% end %>
    <%= link_to new_trip_path, class: "btn-dashboard d-flex flex-column" do %>
      <span>Add Trip</span>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <i class="fa-solid fa-circle-plus fa-2xl"></i>
      </div>
    <% end %>
    <%= link_to new_trip_path, class: "btn-dashboard d-flex flex-column" do %>
      <span>Edit Trip</span>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <i class="fa-solid fa-pen fa-2xl"></i>
      </div>
    <% end %>
     <%= link_to new_trip_path, class: "btn-dashboard d-flex flex-column" do %>
      <span>Reports</span>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <i class="fa-solid fa-chart-line fa-2xl"></i>
      </div>
    <% end %>

 </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

  <div class="form-retreat">

  <h2>Add a New Retreat </h2>
      <%= simple_form_for @trip do |f| %>
        <%= f.input :name, label:"Retreat Name:"%>
        <%= f.input :address, label:"Retreat Location:" %>
        <%= f.input :start_date,label:"Retreat Start Date:", as: :date, html5: true %>
        <%= f.input :end_date,label:"Retreat End Date:", as: :date, html5: true %>
        <%= f.input :deposit_pricing, label:"Deposit Amount:" %>
        <%= f.input :double_pricing, label:"Double Accommodations Pricing:" %>
        <%= f.input :single_pricing, label:"Single Accommodations Pricing:" %>
        <%= f.input :max_participants, label:"Maximum Number of Participants:" %>
        <%= f.input :categories, label: "Activity Types:", collection: Trip::CATEGORIES, input_html: { multiple: true }, as: :check_boxes %>
        <%= f.input :description, label:"Retreat Description:" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create Retreat", class: "btn-admin" %>
     <% end %>
 </div>
    </div>
  </div>
</div>
