

<div class="image-grid-container">

  <div class="row justify-content-center">

    <% @trip.photos.each do |photo| %>
        <%= cl_image_tag photo.key,  class:"image-grid-item"%>
    <% end %>
  </div>
</div>

<div class="retreat-info-container justify-content-left">
  <h1><%= @trip.name %></h1>
</div>

<div class="retreat-info-container">
 <h4> <i class="fa-solid fa-location-dot"></i> <%= @trip.address %></h4>
</div>

<div class="retreat-info-container">
 <p> <i class="fa-solid fa-calendar-days"></i>
 <strong>From: </strong> <%= @trip.start_date%> <strong>To: </strong><%= @trip.end_date%> </p>
</div>

<div class="retreat-info-container">
 <p><strong>Overview: </strong><br><%= @trip.description %></p>
</div>


<div class="retreat-info-container justify-content-center">
 <p><%= @trip.categories.join(" | ")%></p>
</div>
