<div class="form_book m-2">

<div class="form_book m-2">
  <h1>
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
      <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
    </svg>
    <%= @trip.name %>
  </h1>
</div>

<div class="form_book m-2">
  <div class="d-flex img-grid-wrapper">
    <div class="trip-img-grid img-grid-big w-50 me-2" style="background-image: url(<%= cl_image_path @trip.photos.first.key %>)"></div>
    <div class="w-50 img-grid-small">
      <% @trip.photos.drop(1).each do |photo| %>
        <div class="trip-img-grid w-100 h-100" style="background-image: url(<%= cl_image_path photo.key %>)"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="form_book m-1">

<div class="form_book m-1">
<div class="retreat-info-container">
 <h3> <i class="fa-solid fa-location-dot"></i> <%= @trip.address %></h3>
</div>

<div class="retreat-info-container">
  <p><%= @trip.description %> </p>
</div>

<div class="form_book m-1">
  <ul style="list-style: none">
 <li> <p> <h4> Deposit Amount: </h4> €<%= @trip.deposit_pricing %></p>
 <li> <p> <h4>Double Occupancy: </h4>€<%= @trip.double_pricing %></p>
 <li> <p><h4> Single Occupancy: </h4> €<%= @trip.single_pricing %></p>
 <ul>
 </div>

<div class="form-book m-1">

 <h3> <i class="fa-solid fa-calendar-days"></i>
  When </h3>  <p> <%= @trip.start_date%> - <%= @trip.end_date%> </p>
 </div>


<div class="form_book m-1">
 <h3><%= @trip.categories.join(" | ")%></h3>
</div>

<div class="form_book m-2">
  <%# <%= render "bookings/form", trip:@etrip, booking:@booking %>

  <button class="btn-book"> Book Trip </button>

  <button class="btn-book"> Inquire about trip </button>
</div>
</div>
